
    <main>
        <div class="split left">
            <div class="centered">
                <nav>
                    <a routerLink="/portfolio" style="color: #98CE00;">
                        <img src="https://i.imgur.com/y8SymGL.png" alt="Donald's Logo" 
                        height="140em" width="auto" class="dtbLogo"/>
                    </a>
                </nav>
                <hr>
                <h5>
                DTBradfield's Professional Portfolio
                </h5>
                <hr>
                <p>
                The Programmer. The Writer. The Man.
                </p>
            </div>
        </div>
        <div class="split right">
            <div class="centered">
                <a href="portfolio">
                    <img src="https://i.imgur.com/WomOPXz.png" 
                    alt="lysurge logo" class="border"/>
                </a>
                <hr>
                <h5>
                LySurge
                </h5>
                <hr>
                <p>For the exclusive LySurge community. Invite only.</p>
            </div>
        </div>         
    </main>