.theManBtn {
    color: rgb(249, 138, 44);
}

.theProgrammerBtn {
    color: #d5ecd7;
}

.theWriterBtn {
    color: #9d9b8e;
}

.container {
    text-align: center;
}

.the-man-div {
    background-color: rgb(249, 138, 44, 0.83);
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

.the-prog-div {
    background-color: rgb(157, 155, 142, 0.55);
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

.the-writer-div {
    background-color: rgb(20, 42, 53, 0.85);
    color: rgb(249, 138, 44);
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
}

.nav-title {
    color: rgb(20, 42, 53);
    font-weight: bolder;
    background-color: rgb(249, 138, 44);
    border: 1px solid rgb(249, 138, 44);
    border-radius: 7px;
}
