<div class="container">
  <h2 class="animate">theMan</h2>
  <hr>
  <div><img src="https://i.imgur.com/yVZaCAr.jpg" 
      alt="Photo of Donald T Bradfield" 
      class="animate"
      height="250em" 
      width="auto"
      top="50%"/>
  
  <p class="animate">Location: Mansfield, TX</p>
  <hr>
  <div class="animate">
      <h5>
      <a href="https://drive.google.com/file/d/1KH0pxH03fELCJceogbgfZK21gExSuI50/view?usp=sharing">
      Resume
      </a></h5>  
  <hr>
  </div>
  <h5 class="animate">About:</h5>
  <p class="about animate">When I'm not skiing, I'm writing code in JavaScript.
       I primarily use the MEAN stack when architecting web pages, and this site is a concept I came up with on my own. 
       All the artwork is made by me as well. Oh, and don't try to register on LySurge. 
       It's invite only. That, and it is currently under construction.
  </p>        
  <hr>
</div>
</div>