.container {
    margin-top: 25%;
    margin-left: 2%;
}

.about {
    background-color: rgb(213, 236, 215, 0.75);
    padding: 2%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

a {
    color: rgb(20, 42, 53);
}

img {
    border-radius: 17px;
}